# This is a basic workflow to help you get started with Actions

name: CI_hourly

# Controls when the action will run. Triggers the workflow on push or pull request
# events but only for the master branch
on:
  schedule:
    - cron: '0 0 0 1 *'

   
# A workflow run is made up of one or more jobs that can run sequentially or in parallel
jobs:
  # This workflow contains a single job called "build"
  add_data_hourly:
    # The type of runner that the job will run on
    runs-on: ubuntu-latest
    env:
      GITHUB_PAT: ${{ secrets.GITHUB_TOKEN }}
    # Steps represent a sequence of tasks that will be executed as part of the job
    steps:
    - uses: actions/checkout@master
    - uses: r-lib/actions/setup-r@v1
      with:
        r-version: '3.6.3' 
        
    - name: Donwloading libraries
      run: |
          sudo apt install build-essential libcurl4-gnutls-dev libxml2-dev libssl-dev
    - name: Run the script
      run: |
          Rscript To_be_run_hourly.R ${{ secrets.access_token }} ${{ secrets.access_token_secret }}
    - name: commit
      run: |
          git config --global user.email "anany.7777777@gmail.com"
          git config --global user.name "ananyboss"
          git pull origin master
          git add *
          git commit -m 'Added data for past hour'
          git push origin master
